*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", 
    Helvetica, sans-serif;
    background-color: rgb(190, 190, 190);
}
/* style for my header */
header{
    background-color: #363636;
    text-align: center;
    padding: 30px;
    margin-top: 10px ;
}
header h1{
    color: aqua;
    padding: 10px;
}
header>span{
    padding: 10px;
    color: rgb(155, 85, 85);
}
/* style for my navigation bar */
.nav-menu{
    background-color: aqua;
}
.nav-menu ul{
    list-style-type: none;
    text-align: center;
    padding: 20px;
}
.nav-menu ul>li{
    text-decoration: none;
    display: inline;
    padding: 5px;
}
.nav-menu ul>li>a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background-color: #363636;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.nav-menu>ul>li>a:hover{
    background-color: rgb(190, 190, 190);
    color: #000;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
/* style for section */
#main{
    width: 100%;
    height: auto;
    float: left;
    background-color: #363636;
}
#main>*{
    float: left;
    color: white;
}
#main>section{
    width: 100%;
    height: auto;
}
#main>section>section{
    width: 100%;
}
aside{
    width:28% ;
    float: right;
    padding: 20px;
    background-color: #424242;
    margin: 10px;
}
.post{
    width: 68%;
    float: left;
    padding: 20px;
    margin: 10px;
    background-color: #424242;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    box-shadow: 4px 6px 56px #f3f3f3;
}
.post>div{
    width: 70%;
    height: 100%;
    float: left;
    padding: 20px;
}
.post>div>h2{
    color: aqua;
    padding: 20px;
    text-align: center;
}
.post>figure{
    width: 30%;
    float: right;
    height: 100%;
}
.post>figure>img,
img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.post:hover{
    background-color: #a0a0a0;
    color: #3b3b3b;
}
